{% load static %}

<!-- Skeleton Loader pour les cartes de campagne -->
<div class="skeleton-card skeleton"></div>
<div class="skeleton-card skeleton"></div>
<div class="skeleton-card skeleton"></div>
<div class="skeleton-card skeleton"></div>
<div class="skeleton-card skeleton"></div>
<div class="skeleton-card skeleton"></div>

<!-- Skeleton Loader pour les tableaux -->
<div class="skeleton" style="padding: 1rem;">
    <div class="skeleton-text" style="width: 100%;"></div>
    <div class="skeleton-text" style="width: 100%;"></div>
    <div class="skeleton-text" style="width: 100%;"></div>
    <div class="skeleton-text" style="width: 100%;"></div>
    <div class="skeleton-text" style="width: 100%;"></div>
</div>

<!-- Skeleton Loader pour les statistiques -->
<div class="row">
    <div class="col-md-4">
        <div class="skeleton-card skeleton"></div>
    </div>
    <div class="col-md-4">
        <div class="skeleton-card skeleton"></div>
    </div>
    <div class="col-md-4">
        <div class="skeleton-card skeleton"></div>
    </div>
</div>
